
// 1. Disable Carbon font-face declarations
@use '@carbon/styles/scss/config' with (
  $css--font-face: false
);


// 2) Emit the CSS reset (removes body margin, list styles, etc.)
@use '@carbon/styles/scss/reset';


// 3. Token, layout layers, ...
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/grid";
@use "@carbon/styles/scss/layer";
@use "@carbon/styles/scss/motion";
@use "@carbon/styles/scss/breakpoint";


// 3. Only the components enjanga-components-libr*** need
@use "@carbon/styles/scss/components/modal";
@use "@carbon/styles/scss/components/tabs";
@use "@carbon/styles/scss/components/tile";
@use "@carbon/styles/scss/components/button";
@use "@carbon/styles/scss/components/ui-shell";
