// Carbon Design Tokens & Utilities
@forward '@carbon/styles/scss/spacing';
@forward '@carbon/styles/scss/theme';
@forward '@carbon/styles/scss/colors';
@forward '@carbon/styles/scss/motion';
@forward '@carbon/styles/scss/layer';
@forward '@carbon/styles/scss/grid';
@forward '@carbon/styles/scss/breakpoint';

// enjanga design tokens
/*
  #EDF1F9 // TODO: Convert to enjanga-core-setup color token
  #99A3B9 // TODO: Convert to enjanga-core-setup color token
  #20a2ff; // TODO: Convert to enjanga-core-setup color token
  #0F62FE // TODO: Convert to enjanga-core-setup color token
  #4A75C6 // TODO: Convert to enjanga-core-setup color token
  #A8C2F2; // TODO: Convert to enjanga-core-setup color token
  #0547C4; // TODO: Convert to enjanga-core-setup color token
*/